body{
	margin: 0;
}

.canvas{

	margin: 200px auto;
	width: 80%;
	text-align: center;

}

.click{

	width : 100px;
	height: 100px;
	display: inline-block;
	border : 1px solid black;
	border-radius: 50%;
	cursor : pointer;
}
span{
	display: block;
}

#grey{
	background-color: gray;
}
#white{
	background-color: white;
}
#blue{
	background-color: blue;
}
#yellow{
	background-color: yellow;
}
